.container{
  width: 50%;
  margin: auto;
  height: auto;
  padding: 10px;
  background-color: aqua;
}

.main{
  width: 94%;
  background-color: aliceblue;
  padding: 20px;
  border-radius: 8px;
}
.input-box{
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  gap: 10px;
}
.span-text{
  font-size: 18px;
  color: grey;
}
input{
  height: 40px;
  border-radius: 8px;
}
.input-label{
  font-weight: bold;
}
button{
  height: 40px;
  text-align: center;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(24, 97, 187);
  color: white;
  font-size: 16px;
}

.validation{
  display: flex;
  flex-direction: column;
  margin-bottom: 5%;
}

.lower-validated, .upper-validated, .special-validated, .number-validated, .eight-validated{
 color: green;
}

.lower-unvalidated{
  color: red;
}